opencv-contrib-python==4.6.0.66
opencv-python==4.2.0.34
opencv-python-headless==4.6.0.66
numpy==1.21.6
tensorflow==2.11.0
tensorflow-io==0.26.0
tensorflow-text==2.9.0
imutils==0.5.3
pandas==0.24.2
keras==2.11.0
keras-applications==1.0.8
keras-preprocessing==1.1.2
jsonschema==3.2.0
json5==0.8.4
tqdm==4.32.1
requests==2.25.1
protobuf==3.19.4
six==1.16.0
